
                            #
                             Данные PostgreSQL

docker/postgres-data/
docker/pgadmin-data/


                            #
                             Gradle

build/
.gradle/


                            #
                             IDE

.idea/
*.iml


                            #
                             OS

.DS_Store